@import url("./common/fonts.css");
@import url("./common/navbar.css");
@import url("./common/footer.css");
@import url("./common/empty.css");

@import url("./wishlist/introduction.css");
@import url("./wishlist/originals.css");
@import url("./wishlist/skins.css");
@import url("./wishlist/combos.css");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}
