/*----------------------------------------------*/
/*---------------- CAROUSEL STYLES -------------*/
/*----------------------------------------------*/

.header-carousel {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.header-carousel-slide {
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 4rem;
}

.header-carousel-slide-title {
  font-family: "Acquire Light", sans-serif;
  letter-spacing: 0.5px;
  grid-column: span 2;
  text-align: center;
  font-weight: 100;
  cursor: default;
  font-size: 5rem;
  color: #fff;
}

/*-----------------------------------------*/
/*---------------- END OF CSS -------------*/
/*-----------------------------------------*/
