<div class="register-form-container">
  <a class="register-home-link" href="/">
    <img class="register-home-link-image" src="/buttons/basic/home.png" />
  </a>

  <div class="register-form-carousel">
    <%- include("./information/form.ejs") %>
  </div>
</div>

<div class="register-details">
  <%- include("./information/details.ejs", { details: register.details }) %>
</div>
