<div class="information-container">
  <form class="register-form"><%- include("./information/form.ejs") %></form>

  <div class="register-details">
    <%- include("./information/details.ejs") %>
  </div>
</div>
