<div class="register-form-container">
  <div class="register-form-carousel">
    <%- include("./information/form.ejs") %>
  </div>
</div>

<div class="register-details">
  <%- include("./information/details.ejs", { details: register.details }) %>
</div>
