/*--------------------------------------------*/
/*--------------- BLOCK STYLES ---------------*/
/*--------------------------------------------*/

.details-block {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.details-block-image {
  width: 350px;
}

/*--------------------------------------*/
/*------------- END OF CSS -------------*/
/*--------------------------------------*/
