/*--------------------------------------------*/
/*--------------- BLOCK STYLES ---------------*/
/*--------------------------------------------*/

.details-block {
  box-shadow: 0 0 20px #000000a0;
  border: 2.5px solid #ffffff15;
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  gap: 2rem;
}

.details-block-image {
  object-fit: contain;
  height: 285px;
  width: 285px;
}

/*----------------------------------------*/
/*---------- INFORMATION STYLES ----------*/
/*----------------------------------------*/

.details-block-information {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 1.5rem;
}

.details-block-information-title {
  font-family: "Acquire Light", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 4rem;
  cursor: default;
  color: #fff;
}

/*----------------------------------------*/
/*------------ BUTTONS STYLES ------------*/
/*----------------------------------------*/

.details-block-buttons {
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  margin-top: 0.5rem;
  display: grid;
  gap: 1rem;
}

.details-block-button {
  transition: background-color 400ms, opacity 400ms;
  border: 2px solid #fff;
  border-radius: 40px;
  cursor: pointer;
  opacity: 0.25;
  height: 20px;
  width: 20px;
}

.details-block-button:nth-of-type(1) {
  background-color: #fff;
  opacity: 1;
}

/*----------------------------------------*/
/*------------- POINT STYLES -------------*/
/*----------------------------------------*/

.details-block-point-carousel {
  grid-auto-flow: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  display: grid;
  width: 568px;
}

.details-block-point-slide {
  grid-template-columns: auto;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  display: grid;
  width: 568px;
  gap: 0.25rem;
}

/*---------------------------------------*/
/*----------- TITLE CONTAINER -----------*/
/*---------------------------------------*/

.details-block-point-title-container {
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.details-block-point-image {
  width: 26.5px;
}

.details-block-point-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
  font-weight: 200;
  cursor: default;
  color: #fff;
}

.details-block-point-description {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #a0a0a0;
  cursor: default;
  font-size: 1rem;
}

/*--------------------------------------*/
/*------------- ANIMATIONS -------------*/
/*--------------------------------------*/

.details-block-fade-out-left {
  animation: DetailsBlockFadeOutLeft 450ms forwards;
}

@keyframes DetailsBlockFadeOutLeft {
  0% {
    translate: 0 0;
    opacity: 1;
  }

  100% {
    translate: -80px 0;
    opacity: 0;
  }
}

.details-block-fade-out-right {
  animation: DetailsBlockFadeOutRight 450ms forwards;
}

@keyframes DetailsBlockFadeOutRight {
  0% {
    translate: 0 0;
    opacity: 1;
  }

  100% {
    translate: 80px 0;
    opacity: 0;
  }
}

.details-block-fade-in-right {
  animation: DetailsBlockFadeInRight 450ms forwards;
}

@keyframes DetailsBlockFadeInRight {
  0% {
    translate: -80px 0;
    opacity: 0;
  }

  100% {
    translate: 0 0;
    opacity: 1;
  }
}

.details-block-fade-in-left {
  animation: DetailsBlockFadeInLeft 450ms forwards;
}

@keyframes DetailsBlockFadeInLeft {
  0% {
    translate: 80px 0;
    opacity: 0;
  }

  100% {
    translate: 0 0;
    opacity: 1;
  }
}

.details-block-point-slide-fade-out {
  animation: DetailsBlockPointSlideFadeOut 400ms forwards;
}

@keyframes DetailsBlockPointSlideFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.details-block-point-slide-fade-in {
  animation: DetailsBlockPointSlideFadeIn 400ms forwards;
}

@keyframes DetailsBlockPointSlideFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*--------------------------------------*/
/*------------- END OF CSS -------------*/
/*--------------------------------------*/
