/*-----------------------------------------------*/
/*--------------- CAROUSEL STYLES ---------------*/
/*-----------------------------------------------*/

.details-wrapper {
  grid-template-columns: repeat(3, auto);
  box-shadow: 0 0 20px #000000af;
  justify-content: space-between;
  background-color: #00000060;
  align-items: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: grid;
  padding: 2rem;
  gap: 2rem 0;
}

.details-wrapper-title {
  font-family: "Acquire Light", sans-serif;
  letter-spacing: 2px;
  grid-column: span 3;
  text-align: center;
  font-weight: 100;
  font-size: 5rem;
  cursor: default;
  color: #fff;
}

.details-wrapper-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}

/*--------------------------------------------*/
/*------------- CAROUSEL & SLIDE -------------*/
/*--------------------------------------------*/

.details-carousel {
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 0 4rem;
  width: 1128px;
  display: grid;
  gap: 4rem;
}

.details-slide {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 1000px;
  gap: 1rem;
}

/*--------------------------------------*/
/*------------- END OF CSS -------------*/
/*--------------------------------------*/
