/*-----------------------------------------------*/
/*--------------- CAROUSEL STYLES ---------------*/
/*-----------------------------------------------*/

.details-wrapper {
  box-shadow: 0 0 20px #000000af;
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  padding: 0 4rem;
  display: grid;
}

.details-wrapper-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}

/*--------------------------------------------*/
/*------------- CAROUSEL & SLIDE -------------*/
/*--------------------------------------------*/

.details-carousel {
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  position: relative;
  padding: 1rem 4rem;
  overflow: hidden;
  width: 1128px;
  display: grid;
  gap: 4rem;
}

.details-slide {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  width: 1000px;
  gap: 1.25rem;
}

/*--------------------------------------*/
/*------------- END OF CSS -------------*/
/*--------------------------------------*/
