/*---------------------------------------------*/
/*------------- CONTROLLER STYLES -------------*/
/*---------------------------------------------*/

.details-controller-button {
  transition: translate 300ms, opacity 300ms;
  filter: drop-shadow(0 0 5px #000);
  cursor: pointer;
  opacity: 0.25;
  width: 40px;
}

/*------------------------------------------*/
/*------------ INDICATOR STYLES ------------*/
/*------------------------------------------*/

.details-controller-indicators {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  grid-column: span 3;
  margin-top: 0.5rem;
  display: grid;
  gap: 1.5rem;
}

.details-controller-indicator {
  transition: opacity 600ms, background-color 600ms;
  filter: drop-shadow(0 0 10px #000);
  border: 2px solid #fff;
  cursor: pointer;
  opacity: 0.25;
  rotate: 45deg;
  height: 16px;
  width: 16px;
}

.details-controller-indicator:nth-of-type(1) {
  background-color: #fff;
  opacity: 1;
}

/*---------------------------------------*/
/*------------- TRANSITIONS -------------*/
/*---------------------------------------*/

.details-controller-button:hover {
  opacity: 1;
}

.details-controller-button:nth-of-type(1):hover {
  translate: -5px 0;
}

.details-controller-button:nth-of-type(2):hover {
  translate: 5px 0;
}

/*--------------------------------------*/
/*------------- END OF CSS -------------*/
/*--------------------------------------*/
