/*----------------------------------------------*/
/*---------------- CAROUSEL STYLES -------------*/
/*----------------------------------------------*/

.header-carousel {
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  overflow: hidden;
  padding: 0 2rem;
  display: grid;
  width: 1238px;
  gap: 2rem;
}

.header-carousel-slide {
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  transition: translate 600ms;
  align-items: start;
  width: 1174px;
  display: grid;
  gap: 4rem 0;
}

.header-carousel-slide-title {
  font-family: "Acquire Light", sans-serif;
  text-shadow: 0 0 10px #000000a0;
  letter-spacing: 2.5px;
  grid-column: span 3;
  text-align: center;
  font-weight: 100;
  cursor: default;
  font-size: 5rem;
  color: #fff;
}

/*----------------------------------------*/
/*-------------- CONTROLLER --------------*/
/*----------------------------------------*/

.header-carousel-button {
  transition: translate 250ms, opacity 250ms;
  cursor: pointer;
  opacity: 0.25;
  width: 40px;
}

.header-carousel-indicators {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.header-carousel-indicator {
  transition: opacity 500ms;
  cursor: pointer;
  opacity: 0.25;
  width: 30px;
}

.header-carousel-indicator:nth-of-type(1) {
  opacity: 1;
}

/*----------------------------------------*/
/*-------------- TRANSITION --------------*/
/*----------------------------------------*/

.header-carousel-button:hover {
  opacity: 1;
}

/*-----------------------------------------*/
/*---------------- END OF CSS -------------*/
/*-----------------------------------------*/
