@import url("./header/header-carousel.css");
@import url("./header/header-product.css");

#header {
  box-shadow: 0 10px 20px #00000080;
  background-color: #00000050;
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  position: relative;
  padding: 2rem 4rem;
  overflow: hidden;
  display: grid;
  gap: 4.5rem;
}

.header-information {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.header-background {
  position: absolute;
  object-fit: cover;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  z-index: -1;
  right: 0;
  left: 0;
  top: 0;
}

/*------------------------------------*/
/*------------ END OF CSS ------------*/
/*------------------------------------*/
