/*------------------------------------------------*/
/*---------------- PRODUCT STYLES ----------------*/
/*------------------------------------------------*/

.header-product {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.header-product-image {
  filter: drop-shadow(0 0 5px #000000af);
  object-fit: cover;
  height: 250px;
}

.header-product-details {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 1.8rem;
}

/*---------------------------------------*/
/*------------ HEADER STYLES ------------*/
/*---------------------------------------*/

.header-product-header {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
}

.header-product-title {
  font-family: "Poppins", sans-serif;
  text-shadow: 0 0 5px #000000a0;
  font-size: 2.5rem;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

.header-product-description {
  font-family: "Poppins", sans-serif;
  text-shadow: 0 0 5px #000000a0;
  font-size: 1.25rem;
  font-weight: 200;
  color: #acacac;
  cursor: default;
}

/*------------------------------------*/
/*----------- ITEMS STYLES -----------*/
/*------------------------------------*/

.header-product-items {
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.header-product-item {
  box-shadow: 0 0 20px #00000050;
  grid-template-columns: auto;
  border: 2px solid #fff;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 0.5rem;
  display: grid;
}

.header-product-item-image {
  width: 20px;
}

/*-------------------------------------*/
/*----------- REGISTER LINK -----------*/
/*-------------------------------------*/

.header-product-link {
  box-shadow: 0 0 10px #000000a0;
  border: 2px solid #fff;
  justify-content: center;
  grid-auto-flow: column;
  border-radius: 2.5px;
  align-items: center;
  padding: 0.25rem 0;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  display: grid;
  gap: 0.65rem;
}

.header-product-link::before {
  background-color: #fff;
  transition: width 400ms;
  position: absolute;
  margin: 0 auto;
  height: 100%;
  z-index: -1;
  content: "";
  width: 0%;
  right: 0;
  left: 0;
}

.header-product-link-image {
  transition: filter 300ms;
  width: 20px;
}

.header-product-link-text {
  font-family: "Poppins", sans-serif;
  transition: color 300ms;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

/*-----------------------------------------*/
/*-------------- TRANSITIONS --------------*/
/*-----------------------------------------*/

.header-product-link:hover::before {
  width: 100%;
}

.header-product-link:hover .header-product-link-image {
  filter: invert(1);
}

.header-product-link:hover .header-product-link-text {
  color: #000;
}

/*--------------------------------------*/
/*------------- ANIMATIONS -------------*/
/*--------------------------------------*/

.header-product-fade-out {
  animation: HeaderProductFadeOut 275ms forwards;
}

@keyframes HeaderProductFadeOut {
  0% {
    translate: 0 0;
    opacity: 1;
  }

  100% {
    translate: 0 -20px;
    opacity: 0;
  }
}

.header-product-fade-in {
  animation: HeaderProductFadeIn 275ms forwards;
}

@keyframes HeaderProductFadeIn {
  0% {
    translate: 0 -20px;
    opacity: 0;
  }

  100% {
    translate: 0 0;
    opacity: 1;
  }
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
