/*------------------------------------------------*/
/*---------------- PRODUCT STYLES ----------------*/
/*------------------------------------------------*/

.header-product {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.header-product-image {
  filter: drop-shadow(0 0 5px #000000af);
  object-fit: cover;
  height: 250px;
}

.header-product-details {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 2.5rem;
}

/*---------------------------------------*/
/*------------ HEADER STYLES ------------*/
/*---------------------------------------*/

.header-product-header {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
}

.header-product-title {
  font-family: "Poppins", sans-serif;
  text-shadow: 0 0 5px #000000a0;
  font-size: 2.5rem;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

.header-product-description {
  font-family: "Poppins", sans-serif;
  text-shadow: 0 0 5px #000000a0;
  font-size: 1.25rem;
  font-weight: 200;
  color: #acacac;
  cursor: default;
}

/*-------------------------------------*/
/*------------ LINK STYLES ------------*/
/*-------------------------------------*/

.header-product-links {
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.header-product-link {
  transition: translate 300ms, opacity 300ms;
  box-shadow: 0 0 10px #000000a0;
  border: 2px solid #fff;
  justify-content: center;
  grid-auto-flow: column;
  border-radius: 40px;
  align-items: center;
  position: relative;
  padding: 0.65rem;
  display: grid;
  opacity: 0.5;
  gap: 0.5rem;
}

.header-product-link::before {
  transition: opacity 300ms;
  background-color: #fff;
  border-radius: 40px;
  position: absolute;
  margin: 0 auto;
  bottom: -1rem;
  content: "";
  height: 5px;
  width: 5px;
  opacity: 0;
  right: 0;
  left: 0;
}

.header-product-link-image {
  width: 20px;
}

/*--------------------------------------*/
/*---------- SHOP LINK STYLES ----------*/
/*--------------------------------------*/

.header-product-shop-link {
  box-shadow: 0 0 10px #000000a0;
  border: 2px solid #fff;
  justify-content: center;
  grid-auto-flow: column;
  border-radius: 2.5px;
  align-items: center;
  padding: 0.25rem 0;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  display: grid;
  gap: 0.65rem;
}

.header-product-shop-link::before {
  background-color: #fff;
  transition: width 400ms;
  position: absolute;
  margin: 0 auto;
  height: 100%;
  z-index: -1;
  content: "";
  width: 0%;
  right: 0;
  left: 0;
}

.header-product-shop-link-image {
  transition: filter 300ms;
  width: 20px;
}

.header-product-shop-link-text {
  font-family: "Poppins", sans-serif;
  transition: color 300ms;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

/*-----------------------------------------*/
/*-------------- TRANSITIONS --------------*/
/*-----------------------------------------*/

.header-product-link:hover {
  translate: 0 -6.5px;
  opacity: 1;
}

.header-product-link:hover::before {
  opacity: 1;
}

.header-product-shop-link:hover::before {
  width: 100%;
}

.header-product-shop-link:hover .header-product-shop-link-image {
  filter: invert(1);
}

.header-product-shop-link:hover .header-product-shop-link-text {
  color: #000;
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
