<h1 class="intro-title">THE CYBER WISHLIST</h1>

<form class="intro-links" action="/account/wishlist" method="post">
  <div class="intro-class-links">
    <a href="#originals" class="intro-class-link">
      <p class="intro-class-link-text">Originals</p>
    </a>

    <a href="#skins" class="intro-class-link">
      <p class="intro-class-link-text">Skins</p>
    </a>

    <a href="#combos" class="intro-class-link">
      <p class="intro-class-link-text">Combos</p>
    </a>
  </div>

  <button class="intro-reset-link" type="submit" name="action" value="RESET">
    <img class="intro-reset-link-image" src="/buttons/shop/wish-reset.png" />
    <p class="intro-reset-link-text">Reset Wishlist</p>
  </button>
</form>
