/*-------------------------------------------------*/
/*------------------ LIST STYLES ------------------*/
/*-------------------------------------------------*/

.skins-list {
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 2rem;
}

/*-------------------------------------------------*/
/*------------------ ITEM STYLES ------------------*/
/*-------------------------------------------------*/

.skins-item {
  padding: 0 1.5rem 1.5rem 1.5rem;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  display: grid;
  gap: 0.25rem;
}

.skins-item::before {
  background-image: linear-gradient(45deg, #000000 20%, #000050 80%);
  box-shadow: 0 0 10px #000000af;
  border-radius: 10px;
  position: absolute;
  height: 70%;
  content: "";
  z-index: -1;
  width: 100%;
  bottom: 0;
}

/*---------------------------------------*/
/*------------ HEADER STYLES ------------*/
/*---------------------------------------*/

.skins-item-header {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: grid;
  gap: 0.5rem;
}

.skins-item-image {
  filter: drop-shadow(0 0 10px #00000050);
  width: 250px;
}

.skins-item-color {
  text-shadow: 0 5px 10px #00000050;
  font-family: "Abel", sans-serif;
  letter-spacing: 1.5px;
  color: #ffffff50;
  font-size: 2.5rem;
  font-weight: 600;
  cursor: default;
}

/*----------------------------------------*/
/*------------ DETAILS STYLES ------------*/
/*----------------------------------------*/

.skins-item-details {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.skins-item-type {
  text-shadow: 0 5px 10px #00000050;
  font-family: "Abel", sans-serif;
  letter-spacing: 0.65px;
  font-size: 1.5rem;
  cursor: default;
  color: #fff;
}

.skins-item-price {
  text-shadow: 0 5px 10px #00000050;
  font-family: "Abel", sans-serif;
  letter-spacing: 0.65px;
  font-size: 1.5rem;
  cursor: default;
  color: #fff;
}

/*---------------------------------------*/
/*------------ BUTTON STYLES ------------*/
/*---------------------------------------*/

.skins-item-buttons {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  margin-top: 0.8rem;
  display: grid;
  gap: 0.5rem;
}

.skins-item-button {
  box-shadow: 0 5px 10px #00000050;
  background-color: transparent;
  transition: translate 125ms;
  border: 2px solid #fff;
  padding: 0.25rem 2.5rem;
  justify-content: center;
  grid-auto-flow: column;
  border-radius: 40px;
  align-items: center;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  cursor: pointer;
  display: grid;
  gap: 0.5rem;
}

.skins-item-button::before {
  transition: width 450ms, border-width 450ms;
  background-color: #fff;
  border: 0px solid #fff;
  transform: Skew(40deg);
  position: absolute;
  height: 100%;
  content: "";
  z-index: -1;
  left: -1rem;
  width: 0%;
}

.skins-item-button-image {
  transition: filter 450ms;
  width: 18px;
}

.skins-item-button-text {
  font-family: "Poppins", sans-serif;
  transition: color 450ms;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
}

/*---------------------------------------*/
/*------------- LINK STYLES -------------*/
/*---------------------------------------*/

.skins-item-other-buttons {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.skins-item-explore-link {
  box-shadow: 0 5px 10px #00000050;
  background-color: transparent;
  grid-template-columns: auto;
  justify-content: right;
  align-items: center;
  width: fit-content;
  display: grid;
}

.skins-item-explore-link-image {
  width: 40px;
}

/*---------------------------------------*/
/*------------- TRANSITIONS -------------*/
/*---------------------------------------*/

.skins-item-button:hover::before {
  width: calc(100% + 2rem);
}

.skins-item-button:hover .skins-item-button-image {
  filter: invert(1);
}

.skins-item-button:hover .skins-item-button-text {
  border-width: 2px;
  color: #000;
}

.skins-item-button:focus {
  translate: 0 5px;
}

/*----------------------------------------------*/
/*----------------- END OF CSS -----------------*/
/*---------------------------------------------- */
