<div class="details-block">
  <img
    class="details-block-image"
    src="/home/features/consoles/playstation.png"
  />

  <div class="details-block-information">Lorem ipsum dolor sit amet.</div>
</div>

<div class="details-block">
  <div class="details-block-information">Lorem ipsum dolor sit amet.</div>

  <img
    class="details-block-image"
    src="/home/features/consoles/playstation.png"
  />
</div>
