<% for(let i = 0; i < 2; i++) { %>
<div class="details-block block-<%= i + 1 %>">
  <img
    class="details-block-image"
    src="/home/features/consoles/playstation.png"
  />

  <div class="details-block-information">
    <div class="details-block-points">
      <% for(let j = 0; j < 4; j++) { %>
      <img class="details-block-point" src="/home/details/points/speed.png" />
      <% } %>
    </div>

    <div class="details-block-info">
      <h4 class="details-block-info-title"><%= slide + 1 %> Performance</h4>
      <p class="details-block-info-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
        magnam distinctio modi fuga hic expedita nisi quidem deleniti, totam
        laborum, autem cupiditate consequuntur eligendi aut provident velit
        voluptates dolorem quos?
      </p>
    </div>
  </div>
</div>
<% } %>
