/*-----------------------------------------------------*/
/*------------------ CAROUSEL STYLES ------------------*/
/*-----------------------------------------------------*/

.features-carousel {
  background-color: #00000050;
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 2.5rem;
  width: 1392px;
  display: grid;
  gap: 2.5rem;
}

.features-carousel-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}

/*----------------------------------------*/
/*------------- SLIDE STYLES -------------*/
/*----------------------------------------*/

.feature-slide {
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 2.5rem 2rem;
  width: 1312px;
  display: grid;
}

.feature-slide-title {
  font-family: "Acquire Light", sans-serif;
  letter-spacing: 2.5px;
  grid-column: span 2;
  font-weight: 100;
  font-size: 5rem;
  cursor: default;
  color: #fff;
}

/*----------------------------------------------*/
/*----------------- END OF CSS -----------------*/
/*----------------------------------------------*/
