/*---------------------------------------------*/
/*------------- CONTROLLER STYLES -------------*/
/*---------------------------------------------*/

.features-carousel-controller {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.feature-indicator {
  transition: background-color 450ms, opacity 450ms;
  border: 2px solid #fff;
  border-radius: 40px;
  cursor: pointer;
  opacity: 0.25;
  height: 40px;
  width: 6.5px;
}

.feature-indicator:nth-of-type(1) {
  background-color: #fff;
  opacity: 1;
}

/*----------------------------------------*/
/*-------------- END OF CSS --------------*/
/*----------------------------------------*/
