<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/home.css" />
    <title>CyberVerse</title>
  </head>

  <body>
    <header id="header">
      <%- include("./home/header.ejs", { header: header, navbar: navbar }) %>
    </header>

    <main>
      <section id="features">
        <%- include("./home/features.ejs", { features: features }) %>
      </section>

      <section id="games">
        <%- include("./home/games.ejs", { games: games }) %>
      </section>

      <section id="details">
        <%- include("./home/details.ejs", { details: details }) %>
      </section>
    </main>

    <script type="module" src="/Home.js"></script>
  </body>
</html>
