<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- #region Google Fonts Server -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- #endregion -->
    <!-- #region Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
      rel="stylesheet"
    />
    <!-- #endregion -->
    <link rel="stylesheet" href="/wishlist.css" />
    <title>CyberVerse | Wishlist</title>
  </head>

  <body>
    <header>
      <nav><%- include("./common/navbar.ejs") %></nav>
    </header>

    <main>
      <section id="skins">
        <%- include("./wishlist/skins.ejs", { skins: wishlist.skins }) %>
      </section>
    </main>
  </body>
</html>
