@import url("./navbar/links.css");
@import url("./navbar/menu.css");

header {
  position: relative;
}

nav {
  box-shadow: 0 10px 20px #00000060;
  justify-content: space-between;
  background-color: #000010;
  grid-auto-flow: column;
  align-items: center;
  padding: 1rem 4rem;
  position: relative;
  overflow: hidden;
  display: grid;
  z-index: 1;
}

.nav-logo-text {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}
