/*--------------------------------------------*/
/*--------------- BLOCK STYLES ---------------*/
/*--------------------------------------------*/

.exclusive-block {
  box-shadow: 0 0 20px #00000050;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem;
  display: grid;
}

.exclusive-slide:nth-of-type(2) .exclusive-block {
  padding: 0.5rem 1.8rem;
}

.exclusive-slide:nth-of-type(3) .exclusive-block {
  padding: 0.5rem 1.25rem;
}

.exclusive-block:nth-of-type(2),
.exclusive-block:nth-of-type(4),
.exclusive-block:nth-of-type(7),
.exclusive-block:nth-of-type(9) {
  translate: 0 -50px;
}

.exclusive-block:nth-of-type(1),
.exclusive-block:nth-of-type(3),
.exclusive-block:nth-of-type(5),
.exclusive-block:nth-of-type(6),
.exclusive-block:nth-of-type(8),
.exclusive-block:nth-of-type(10) {
  translate: 0 50px;
}

.exclusive-block-image {
  margin: 0 auto;
  height: 250px;
}

.exclusive-block-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  cursor: default;
  color: #fff;
}

/*------------------------------------*/
/*------------ ANIMATIONS ------------*/
/*------------------------------------*/

.exclusive-block-fade-out-up {
  animation: ExclusiveBlockFadeOutUp 800ms forwards;
}

@keyframes ExclusiveBlockFadeOutUp {
  0% {
    translate: 0 50px;
    opacity: 1;
  }

  100% {
    translate: 0 -50px;
    opacity: 0;
  }
}

.exclusive-block-fade-out-down {
  animation: ExclusiveBlockFadeOutDown 800ms forwards;
}

@keyframes ExclusiveBlockFadeOutDown {
  0% {
    translate: 0 -50px;
    opacity: 1;
  }

  100% {
    translate: 0 50px;
    opacity: 0;
  }
}

.exclusive-block-fade-in-up {
  animation: ExclusiveBlockFadeInUp 800ms forwards;
}

@keyframes ExclusiveBlockFadeInUp {
  0% {
    translate: 0 50px;
    opacity: 0;
  }

  100% {
    translate: 0 -50px;
    opacity: 1;
  }
}

.exclusive-block-fade-in-down {
  animation: ExclusiveBlockFadeInDown 800ms forwards;
}

@keyframes ExclusiveBlockFadeInDown {
  0% {
    translate: 0 -50px;
    opacity: 0;
  }

  100% {
    translate: 0 50px;
    opacity: 1;
  }
}

/*----------------------------------------*/
/*------------- END OF CSS ---------------*/
/*----------------------------------------*/
