/*--------------------------------------------*/
/*-------------- SUMMARY STYLES --------------*/
/*--------------------------------------------*/

.billing-summary {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.billing-summary-title {
  box-shadow: 0 0 10px #00000065;
  font-family: "Abel", sans-serif;
  border: 2.5px solid #000;
  transform: skew(-10deg);
  padding: 0.25rem 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 2rem;
  cursor: default;
}

/*----------------------------------------*/
/*------------ DETAILS STYLES ------------*/
/*----------------------------------------*/

.billing-summary-details {
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  display: grid;
  gap: 2.5rem;
}

/*------------------------------------*/
/*----------- CLASS STYLES -----------*/
/*------------------------------------*/

.billing-summary-classes {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.billing-summary-class {
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.billing-summary-class-image {
  filter: invert(1);
  width: 20px;
}

.billing-summary-class-text {
  text-shadow: 0 0 10px #00000060;
  font-family: "Abel", sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: default;
}

/*-------------------------------------------*/
/*------------- QUANTITY STYLES -------------*/
/*-------------------------------------------*/

.billing-summary-quantities {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.billing-summary-quantity {
  text-shadow: 0 0 10px #00000060;
  font-family: "Abel", sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: default;
}

/*-------------------------------------------*/
/*-------------- PRICES STYLES --------------*/
/*-------------------------------------------*/

.billing-summary-prices {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.billing-summary-price {
  text-shadow: 0 0 10px #00000060;
  font-family: "Abel", sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: default;
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
