@import url("./combos/carousel.css");
@import url("./combos/controller.css");

#combos {
  box-shadow: 0 0 20px #000000a0;
  justify-content: space-between;
  background-color: #00000050;
  grid-auto-flow: column;
  align-items: center;
  position: relative;
  padding: 2rem 4rem;
  display: grid;
}

.combos-image {
  transform: scale(-1);
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}
