@import url("./skins/item.css");

#skins {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  padding: 4rem 0;
  display: grid;
  gap: 3rem;
}

.skins-title {
  background: linear-gradient(45deg, #ff0033 0%, #002aff 100%);
  -webkit-text-fill-color: transparent;
  text-shadow: 0 5px 10px #00000050;
  font-family: "Abel", sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 2.5px;
  text-align: center;
  font-weight: 600;
  cursor: default;
  font-size: 6rem;
}
