/*-------------------------------------------------*/
/*---------------- CAROUSEL STYLES ----------------*/
/*-------------------------------------------------*/

.comments-carousel-container {
  box-shadow: 0 0 20px #000000af;
  background-color: #00000080;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding: 2rem 0;
  display: grid;
  gap: 1rem;
}

.comments-background {
  object-position: 0 0;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}

/*---------------------------------------*/
/*----------- CAROUSEL STYLES -----------*/
/*---------------------------------------*/

.comments-carousel {
  justify-content: start;
  grid-auto-flow: column;
  align-content: center;
  padding: 2rem 4rem;
  display: grid;
  width: 1416px;
  gap: 4rem;
}

.comments-slide {
  transition: transform 2000ms;
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  display: grid;
  width: 1288px;
  gap: 4rem;
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
