@import url("./information/form.css");
@import url("./information/details.css");

#information {
  justify-content: stretch;
  grid-auto-flow: column;
  align-items: stretch;
  height: 100dvh;
  display: grid;
}
