<div class="comments-carousel-container">
  <h1 class="comments-carousel-container-title">A GAMERS THOUGHT</h1>

  <div class="comments-carousel">
    <% for(let slide = 0; slide < 3; slide++) { %>
    <div class="comments-slide">
      <%- include("./comments/comment.ejs", { slide: slide }) %>
    </div>
    <% } %>
  </div>

  <div class="comments-controller">
    <img class="comments-controller-indicator" src="" />

    <% for(let slide = 0; slide < 3; slide++) { %>
    <div class="comments-controller-button"></div>
    <% } %>
  </div>

  <img class="comments-background" src="/home/comments/background.jpg" />
</div>
