<div class="details-wrapper">
  <img
    class="details-controller-button"
    src="/buttons/basic/arrow-head-left.png"
  />

  <div class="details-carousel">
    <% details.forEach((slide) => { %>
    <div class="details-slide">
      <%- include("./details/block.ejs", { slide: slide }) %>
    </div>
    <% }) %>
  </div>

  <img
    class="details-controller-button"
    src="/buttons/basic/arrow-head-right.png"
  />

  <img class="details-wrapper-background" src="/home/details/background.png" />
</div>
