<div class="details-controller">
  <img class="details-controller-button" src="/buttons/logos/playstation.png" />
  <img class="details-controller-button" src="/buttons/logos/xbox.png" />
  <img class="details-controller-button" src="/buttons/logos/switch.png" />
</div>

<article class="details-carousel">
  <div class="details-slide"><%- include("./details/block.ejs") %></div>

  <img class="details-carousel-background" src="/home/details/background.png" />
</article>
