<div class="details-wrapper">
  <h2 class="details-wrapper-title">THE NEXT GENERATION</h2>
  <img class="details-controller-button" src="<%= details.controller[0] %>" />

  <div class="details-carousel">
    <% details.slides.forEach((slide, index) => { %>
    <div class="details-slide">
      <%- include("./details/block.ejs", { slide: slide, index: index }) %>
    </div>
    <% }) %>
  </div>

  <img class="details-controller-button" src="<%= details.controller[1] %>" />

  <div class="details-controller-indicators">
    <% details.slides.forEach(() => { %>
    <div class="details-controller-indicator"></div>
    <% }) %>
  </div>

  <img class="details-wrapper-background" src="/home/details/background.png" />
</div>
