<article class="features-carousel">
  <div class="feature-slide">
    <h2 class="feature-slide-title">SONY PLAYSTATION</h2>

    <img
      class="feature-console-image"
      src="/home/features/consoles/playstation.png"
    />

    <div class="feature-points-container">
      <% for(let i = 0; i < 6; i++) { %>
      <div class="feature-point">
        <div class="feature-point-header">
          <img
            class="feature-point-image"
            src="/home/features/points/graphics.png"
          />
          <h4 class="feature-point-title">CPU</h4>
        </div>

        <p class="feature-point-details">
          x86-64-AMD Ryzen Zen 2. 8 Cores/16 Threads Variable frequency, up to
          3.5GHz.
        </p>
      </div>
      <% } %>
    </div>
  </div>
</article>
