<article class="features-block">
  <div class="features-carousel">
    <% features.forEach((slide) => { %>
    <div class="feature-slide">
      <h2 class="feature-slide-title"><%= slide.title %></h2>

      <div class="feature-console-container">
        <%- include("./features/console.ejs", { console: slide.console }) %>
      </div>

      <div class="feature-points-container">
        <%- include("./features/point.ejs", { points: slide.points }) %>
      </div>
    </div>
    <% }) %>
  </div>

  <div class="features-carousel-controller">
    <% features.forEach(() => { %>
    <div class="feature-indicator"></div>
    <% }) %>
  </div>

  <img class="features-block-background" src="/home/features/background.png" />
</article>
