<div class="games-carousel">
  <% for(let slide = 0; slide < 3; slide++) { %>
  <div class="games-slide">
    <h4 class="games-slide-title">PLAYSTATION 5 EXCLUSIVES</h4>

    <% for(let i = 0; i < 5; i++) { %>
    <div class="game">
      <img class="game-image" src="/shop/games/spiderman-miles-morales.png" />

      <div class="game-details">
        <h4 class="game-title">Spiderman Miles Morales</h4>

        <hr class="game-details-divider" />

        <p class="game-description">
          An immersive superhero experience set in snowy New York City. Control
          Miles as he battles enemies and learns to embraces his role as the new
          Spider-Man.
        </p>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>
</div>

<img class="game-background" src="/home/games/background.png" />
