<div class="games-console-container">
  <h4 class="game-console-title">PLAYSTATION 5 EXCLUSIVES</h4>

  <div class="games-list">
    <% for(let i = 0; i < 5; i++) { %>
    <div class="game">
      <img class="game-image" src="/shop/games/spiderman-miles-morales.png" />

      <div class="game-details">
        <h4 class="game-title">Spiderman Miles Morales</h4>
        <p class="game-description"></p>
      </div>
    </div>
    <% } %>
  </div>
</div>

<img class="game-background" src="/home/games/background.png" />
