<nav><%- include("./navbar.ejs") %></nav>

<article class="header-information">
  <div class="header-carousel"><%- include("./header/product.ejs") %></div>
</article>

<img class="header-background" src="/home/header/background.png" />
