<nav><%- include("./navbar.ejs") %></nav>

<div class="header-information">
  <img
    class="header-carousel-button left"
    src="/buttons/basic/arrow-head-left.png"
  />

  <div class="header-carousel"><%- include("./header/product.ejs") %></div>

  <img
    class="header-carousel-button right"
    src="/buttons/basic/arrow-head-right.png"
  />
</div>

<div class="header-carousel-indicators">
  <% for(let i = 0; i < 3; i++) { %>
  <img class="header-carousel-indicator" src="/buttons/basic/bar.png" />
  <% } %>
</div>

<img class="header-background" src="/home/header/background.png" />
