<nav><%- include("./navbar.ejs") %></nav>

<article class="header-information">
  <img
    class="header-carousel-button left"
    src="/buttons/basic/arrow-head-left.png"
  />

  <div class="header-carousel"><%- include("./header/product.ejs") %></div>

  <img
    class="header-carousel-button right"
    src="/buttons/basic/arrow-head-right.png"
  />
</article>

<img class="header-background" src="/home/header/background.png" />
