<a class="nav-logo" href="/">
  <p class="nav-logo-text">CyberVerse</p>
</a>

<div class="nav-links-container">
  <div class="nav-social-links-container">
    <% for(let i = 0; i < 4; i++) { %>
    <a class="nav-social-link" href="">
      <img class="nav-social-link-image" src="/buttons/socials/instagram.png" />
    </a>
    <% } %>
  </div>

  <a class="nav-register-link" href="/account">
    <img class="nav-register-link-image" src="/buttons/account/create.png" />
    <p class="nav-register-link-text">Register</p>
  </a>
</div>
