@import url("./billing/sponsor.css");
@import url("./billing/summary.css");
@import url("./billing/total.css");

#billing {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  padding: 2rem 6rem;
  display: grid;
  gap: 2rem;
}

.billing-title {
  font-family: "Acquire Light", sans-serif;
  text-shadow: 0 5px 10px #00000065;
  letter-spacing: 2.5px;
  font-size: 6rem;
  cursor: default;
}

.billing-information {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: start;
  display: grid;
}

.billing-details {
  justify-content: center;
  grid-auto-flow: column;
  align-items: start;
  display: grid;
  gap: 4rem;
}
