@import url("./combos/carousel.css");
@import url("./combos/controller.css");

#combos {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  display: grid;
}

.combos-carousel-container {
  box-shadow: 0 0 20px #000;
  grid-template-columns: auto;
  background-color: #000;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
  border-radius: 5px;
  overflow: hidden;
  padding: 2rem 0;
  display: grid;
  gap: 2.5rem;
}

.combos-carousel-container-background {
  position: absolute;
  opacity: 0.85;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}
