/*---------------------------------------------*/
/*---------------- LIST STYLES ----------------*/
/*---------------------------------------------*/

#list {
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  display: grid;
  padding: 4rem;
  gap: 2rem 0;
}

.list-item {
  padding: 1rem 2.5rem 1rem 1rem;
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  position: relative;
  display: grid;
}

.list-item::before {
  background-image: linear-gradient(45deg, #000000 20%, #000050 80%);
  box-shadow: 0 0 10px #000000af;
  border-radius: 10px;
  position: absolute;
  height: 100%;
  z-index: -1;
  content: "";
  width: 100%;
}

.list-item-image {
  width: 225px;
}

/*--------------------------------------------*/
/*-------------- DETAILS STYLES --------------*/
/*--------------------------------------------*/

.list-item-details {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.list-item-details-divider {
  border-bottom: 2px solid #ffffff10;
  border-right: none;
  border-left: none;
  border-top: none;
}

.list-item-name {
  text-shadow: 0 0 10px #00000060;
  font-family: "Abel", sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: -1rem;
  color: #ffffff50;
  font-size: 4.5rem;
  font-weight: 600;
  cursor: default;
}

/*-----------------------------------------*/
/*-------------- INFORMATION --------------*/
/*-----------------------------------------*/

.list-item-information {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.list-item-brand {
  text-shadow: 0 0 10px #00000060;
  font-family: "Abel", sans-serif;
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

.list-item-type {
  text-shadow: 0 0 10px #00000060;
  font-family: "Abel", sans-serif;
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

.list-item-price {
  text-shadow: 0 0 10px #00000060;
  font-family: "Abel", sans-serif;
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 2rem;
  cursor: default;
  color: #fff;
}

/*-------------------------------------------*/
/*------------ CONTROLLER STYLES ------------*/
/*-------------------------------------------*/

.list-item-controllers {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

/*---------------------------------------*/
/*------------ BUTTON STYLES ------------*/
/*---------------------------------------*/

.list-item-buttons {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.list-item-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.list-item-button-image {
  filter: drop-shadow(0 0 20px #000);
  width: 25px;
}

/*-----------------------------------------*/
/*------------ QUANTITY STYLES ------------*/
/*-----------------------------------------*/

.list-item-quantity {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.list-item-quantity-button {
  background-color: transparent;
  border: none;
}

.list-item-quantity-button-image {
  filter: drop-shadow(0 0 20px #000);
  cursor: pointer;
  width: 30px;
}

.list-item-quantity-value {
  font-family: "Abel", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  cursor: default;
  color: #fff;
}

/*----------------------------------------*/
/*------------- EXPLORE LINK -------------*/
/*----------------------------------------*/

.list-item-explore-link {
  box-shadow: 0 0 20px #000000a0;
  border: 2px solid #fff;
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  border-radius: 40px;
  padding: 0.25rem 0;
  position: relative;
  overflow: hidden;
  display: grid;
  gap: 0.65rem;
}

.list-item-explore-link::before {
  background-color: #fff;
  transition: width 475ms;
  transform: skew(40deg);
  position: absolute;
  height: 100%;
  content: "";
  z-index: -1;
  left: -1rem;
  width: 0%;
}

.list-item-explore-link-text {
  font-family: "Poppins", sans-serif;
  transition: color 475ms;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

/*---------------------------------------*/
/*------------- TRANSITIONS -------------*/
/*---------------------------------------*/

.list-item-explore-link:hover::before {
  width: calc(100% + 2rem);
}

.list-item-explore-link:hover .list-item-explore-link-text {
  color: #000;
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
