@import url("./originals/carousel.css");
@import url("./originals/controller.css");

#originals {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  display: grid;
}

.originals-container {
  grid-template-columns: repeat(3, auto);
  box-shadow: 0 0 20px #000;
  padding: 0 2rem 2rem 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
}

.originals-container-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}
