@import url("./skins/item.css");
@import url("./skins/controller.css");

#skins {
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: stretch;
  gap: 2rem 1.5rem;
  padding: 2rem 0;
  display: grid;
}
