/*---------------------------------------------*/
/*-------------- CAROUSEL STYLES --------------*/
/*---------------------------------------------*/

.games-carousel {
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  padding-top: 2rem;
  overflow: hidden;
  width: 1416px;
  display: grid;
}

.games-slide {
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  align-items: start;
  gap: 2.5rem 2rem;
  display: grid;
  width: 1416px;
}

.games-slide-title {
  font-family: "Acquire Light", sans-serif;
  letter-spacing: 2.5px;
  grid-column: span 5;
  font-size: 4.5rem;
  font-weight: 100;
  cursor: default;
  color: #fff;
}

/*----------------------------------------*/
/*-------------- END OF CSS --------------*/
/*----------------------------------------*/
