/*-----------------------------------------------------*/
/*----------------- CONTROLLER STYLES -----------------*/
/*-----------------------------------------------------*/

.games-controller {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

/*-----------------------------------*/
/*----------- LINK STYLES -----------*/
/*-----------------------------------*/

.games-link {
  transition: background-color 450ms, translate 125ms;
  border: 2px solid #fff;
  justify-content: center;
  grid-auto-flow: column;
  padding: 0.25rem 4rem;
  border-radius: 2.5px;
  align-items: center;
  display: grid;
  gap: 0.65rem;
}

.games-link-image {
  transition: filter 450ms;
  width: 22.5px;
}

.games-link-text {
  font-family: "Poppins", sans-serif;
  transition: color 450ms;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

/*-------------------------------------------*/
/*-------------- BUTTON STYLES --------------*/
/*-------------------------------------------*/

.games-controller-buttons {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 1.5rem;
}

.games-controller-button {
  transition: translate 450ms, opacity 450ms;
  cursor: pointer;
  opacity: 0.25;
  width: 40px;
}

.games-controller-button:nth-of-type(1) {
  translate: 0 -10px;
  opacity: 1;
}

/*-----------------------------------------*/
/*-------------- TRANSITIONS --------------*/
/*-----------------------------------------*/

.games-link:hover {
  background-color: #fff;
}

.games-link:focus {
  translate: 0 5px;
}

.games-link:hover .games-link-image {
  filter: invert(1);
}

.games-link:hover .games-link-text {
  color: #000;
}

/*--------------------------------------------*/
/*---------------- END OF CSS ----------------*/
/*--------------------------------------------*/
