/*-----------------------------------------------*/
/*----------------- GAME STYLES -----------------*/
/*-----------------------------------------------*/

.games-list {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 2rem;
}

.game {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.game-image {
  width: 225px;
}

/*-------------------------------------*/
/*----------- DETAIL STYLES -----------*/
/*-------------------------------------*/

.game-details {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.game-title {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}

.game-description {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: #fff;
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
