/*-----------------------------------------------*/
/*----------------- GAME STYLES -----------------*/
/*-----------------------------------------------*/

.game {
  border: 2px solid #ffffff25;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: grid;
}

.game-image {
  border-radius: 2.5px;
  width: 100%;
}

/*-------------------------------------*/
/*----------- DETAIL STYLES -----------*/
/*-------------------------------------*/

.game-details {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  border-top: none;
  padding: 0.5rem;
  display: grid;
  gap: 0.25rem;
}

.game-details-divider {
  border-bottom: 2px solid #ffffff25;
  border-radius: 100%;
  border-right: none;
  border-left: none;
  border-top: none;
}

.game-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

.game-description {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #acacac;
  cursor: default;
  font-size: 1rem;
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
