<div class="empty-container">
  <h1 class="empty-title"><span>YOUR CART</span> IS EMPTY</h1>

  <div class="empty-links">
    <div class="empty-shop-links">
      <a class="empty-shop-link" href="/shop/playstation/consoles">
        <p class="empty-shop-link-text">PlayStation</p>
      </a>

      <a class="empty-shop-link" href="/shop/xbox/consoles">
        <p class="empty-shop-link-text">Xbox</p>
      </a>

      <a class="empty-shop-link" href="/shop/switch/consoles">
        <p class="empty-shop-link-text">Switch</p>
      </a>
    </div>

    <div class="empty-home-links">
      <a class="empty-home-link" href="/">
        <img class="empty-home-link-image" src="/buttons/basic/home.png" />
      </a>

      <a class="empty-home-link" href="/">
        <img class="empty-home-link-image" src="/buttons/account/profile.png" />
      </a>
    </div>
  </div>
</div>
