<h1 class="introduction-title">THE CYBER CART</h1>

<div class="intro-links">
  <a class="intro-link billing" href="#billing">
    <img class="intro-link-image" src="/buttons/shop/cart-checkout.png" />
    <p class="intro-link-text">Proceed To Billing</p>
  </a>

  <a class="intro-link" href="#originals">
    <p class="intro-link-text">Originals</p>
  </a>

  <a class="intro-link" href="#skins">
    <p class="intro-link-text">Skins</p>
  </a>

  <a class="intro-link" href="#combos">
    <p class="intro-link-text">Combos</p>
  </a>
</div>
