<% for(let i = 0; i < 2; i++) { %>
<form class="list-item">
  <img class="list-item-image" src="/shop/playstation/consoles/skin-1.png" />

  <div class="list-item-details">
    <h4 class="list-item-name">BROKEN LAVA</h4>

    <div class="list-item-price-details">
      <p class="list-item-fixed-price">$600</p>
      <p class="list-item-total-price">$2400</p>
    </div>

    <div class="list-item-controllers">
      <div class="list-item-buttons">
        <button class="list-item-button" type="submit">
          <img class="list-item-button-image" src="/buttons/shop/wish.png" />
        </button>

        <button class="list-item-button" type="submit">
          <img class="list-item-button-image" src="/buttons/shop/wish.png" />
        </button>
      </div>

      <div class="list-item-quantity">
        <img
          class="list-item-quantity-image"
          src="/buttons/basic/arrow-head-left.png"
        />

        <p class="list-item-quantity-value">4</p>

        <img
          class="list-item-quantity-image"
          src="/buttons/basic/arrow-head-right.png"
        />
      </div>
    </div>
  </div>
</form>
<% } %>
