<div class="originals-container">
  <img
    class="originals-carousel-button"
    src="/buttons/basic/arrow-head-left.png"
  />

  <div class="originals-carousel">
    <%- include("./originals/item.ejs", { originals: originals }) %>
  </div>

  <img
    class="originals-carousel-button"
    src="/buttons/basic/arrow-head-right.png"
  />

  <div class="originals-carousel-indicators">
    <%- include("./originals/indicator.ejs", { length: originals.length }) %>
  </div>

  <img class="originals-container-background" src="/cart/originals-back.png" />
</div>
