<% for(let i = 0; i < 3; i++) { %>
<form class="originals-slide" action="/shop/item/add" method="post">
  <img
    class="originals-slide-image"
    src="/shop/playstation/consoles/white.png"
  />

  <div class="originals-slide-information">
    <h4 class="originals-slide-title">THE ORIGINAL WHITE</h4>

    <div class="originals-slide-details">
      <p class="originals-slide-sponsor">Sony X CyberVerse</p>
      <p class="originals-slide-price">$500</p>
    </div>

    <button class="originals-slide-button" type="submit">
      <img
        class="originals-slide-button-image"
        src="/buttons/shop/cart-add.png"
      />

      <p class="originals-slide-button-text">Add To Cart</p>
    </button>
  </div>
</form>
<% } %>
