<div class="combos-carousel">
  <%- include("./combos/carousel.ejs", { products: products }) %>
</div>

<div class="combos-controller">
  <%- include("./combos/controller.ejs", { total: products.length }) %>
</div>

<img class="combos-image" src="/shop/background-2.jpg" />
