<div class="combos-carousel">
  <%- include("./combos/carousel.ejs", { combos: combos }) %>
</div>

<div class="combos-controller">
  <%- include("./combos/controller.ejs", { length: combos.products.length }) %>
</div>

<img class="combos-image" src="/shop/combos.jpg" />
