<div class="combos-carousel"><%- include("./combos/carousel.ejs") %></div>
<div class="combos-controller"><%- include("./combos/controller.ejs") %></div>

<img class="combos-image" src="/shop/background-2.jpg" />
