<h4 class="extras-title">CONTROL EVERY DIMENSION</h4>

<div class="extras-images">
  <% extras.forEach((image) => { %>
  <img class="extras-image" src="<%= image %>" />
  <% }) %>
</div>

<div class="extras-links">
  <a class="extras-link" href="/">
    <img class="extras-link-image" src="/buttons/shop/features.png" />
    <p class="extras-link-text">Learn Features</p>
  </a>

  <a class="extras-link" href="/">
    <img class="extras-link-image" src="/buttons/shop/bag.png" />
    <p class="extras-link-text">Explore Collection</p>
  </a>
</div>
