<img
  class="originals-carousel-button"
  src="/buttons/basic/arrow-head-left.png"
/>

<div class="originals-carousel"><%- include("./originals/carousel.ejs") %></div>

<img
  class="originals-carousel-button"
  src="/buttons/basic/arrow-head-right.png"
/>

<div class="originals-carousel-indicators"></div>

<img class="originals-background" src="/shop/background.jpg" />
