<div class="empty-container">
  <h2 class="empty-title"><span><%= message %></span> IS EMPTY</h2>

  <div class="empty-links">
    <div class="empty-shop-links">
      <a href="/shop/playstation/consoles" class="empty-shop-link">
        <p class="empty-shop-link-text">PlayStation</p>
      </a>

      <a href="/shop/xbox/consoles" class="empty-shop-link">
        <p class="empty-shop-link-text">Xbox</p>
      </a>

      <a href="/shop/switch/consoles" class="empty-shop-link">
        <p class="empty-shop-link-text">Switch</p>
      </a>
    </div>

    <div class="empty-home-links">
      <a href="/" class="empty-home-link">
        <img class="empty-home-link-image" src="/buttons/basic/home.png" />
      </a>

      <a href="/" class="empty-home-link">
        <img class="empty-home-link-image" src="/buttons/account/profile.png" />
      </a>
    </div>
  </div>
</div>
