<a class="nav-logo" href="/">
  <p class="nav-logo-text">CyberVerse</p>
</a>

<div class="nav-links">
  <div class="nav-brand-links">
    <a class="nav-brand-link" href="/">
      <p class="nav-brand-link-text">Playstation</p>
    </a>

    <a class="nav-brand-link" href="/">
      <p class="nav-brand-link-text">Xbox</p>
    </a>

    <a class="nav-brand-link" href="/">
      <p class="nav-brand-link-text">Switch</p>
    </a>
  </div>

  <hr class="nav-links-divider" />

  <div class="nav-shop-links">
    <a class="nav-shop-link" href="/account/wishlist">
      <img class="nav-shop-link-image" src="/buttons/shop/wish.png" />
    </a>

    <a class="nav-shop-link" href="/account/cart">
      <img class="nav-shop-link-image" src="/buttons/shop/cart.png" />
    </a>
  </div>

  <hr class="nav-links-divider" />

  <a class="nav-profile-logo" href="/account">
    <img class="nav-profile-logo-image" src="/buttons/account/profile.png" />
  </a>
</div>
