<% for(let item = 0; item < 8; item++) { %>
<form class="skins-item" action="/shop/item/add" method="post">
  <div class="skins-item-header">
    <img class="skins-item-image" src="/shop/playstation/consoles/white.png" />
    <h2 class="skins-item-color">RED SNAKE</h2>
  </div>

  <div class="skins-item-details">
    <p class="skins-item-type">Originals</p>
    <p class="skins-item-price">$200</p>
  </div>

  <button class="skins-item-button" type="submit">
    <img class="skins-item-button-image" src="/buttons/shop/cart-add.png" />
    <p class="skins-item-button-text">Add To Cart</p>
  </button>
</form>
<% } %>
