/*-------------------------------------------------*/
/*---------------- CAROUSEL STYLES ----------------*/
/*-------------------------------------------------*/

.originals-carousel {
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
  padding: 2rem 4rem;
  overflow: hidden;
  width: 1230px;
  display: grid;
  gap: 4rem;
}

.originals-slide {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  isolation: isolate;
  display: grid;
  width: 1102px;
  gap: 2rem;
}

.originals-slide-image {
  filter: drop-shadow(0 0 20px #00000050);
  height: 350px;
}

/*-------------------------------------*/
/*------------ INFO STYLES ------------*/
/*-------------------------------------*/

.originals-slide-information {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
}

.originals-slide-title {
  text-shadow: 0 5px 10px #00000050;
  font-family: "Abel", sans-serif;
  letter-spacing: 2.5px;
  color: #ffffff80;
  font-weight: 600;
  font-size: 5rem;
  cursor: default;
}

/*----------------------------------------*/
/*------------ DETAILS STYLES ------------*/
/*----------------------------------------*/

.originals-slide-details {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.originals-slide-sponsor {
  text-shadow: 0 5px 10px #00000050;
  font-family: "Abel", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

.originals-slide-price {
  text-shadow: 0 5px 10px #00000050;
  font-family: "Abel", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

/*---------------------------------------*/
/*------------ BUTTON STYLES ------------*/
/*---------------------------------------*/

.originals-slide-buttons {
  justify-content: space-between;
  grid-auto-flow: column;
  margin-top: 1.5rem;
  align-items: end;
  display: grid;
}

/*--------------------------------------*/
/*------------ FORM BUTTONS ------------*/
/*--------------------------------------*/

.originals-slide-form-buttons {
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.originals-slide-button {
  box-shadow: 0 5px 10px #00000050;
  background-color: transparent;
  transition: translate 125ms;
  border: 2px solid #fff;
  justify-content: center;
  grid-auto-flow: column;
  padding: 0.25rem 3rem;
  border-radius: 40px;
  align-items: center;
  width: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: grid;
  gap: 0.6rem;
}

.originals-slide-button::before {
  background-color: #fff;
  border: 0px solid #fff;
  transition: width 400ms;
  transform: skew(40deg);
  position: absolute;
  height: 100%;
  z-index: -1;
  content: "";
  left: -1rem;
  width: 0%;
}

.originals-slide-button-image {
  transition: filter 400ms;
  width: 20px;
}

.originals-slide-button-text {
  font-family: "Poppins", sans-serif;
  transition: color 400ms;
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

/*---------------------------------------*/
/*------------- LINK STYLES -------------*/
/*---------------------------------------*/

.originals-slide-link {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
}

.originals-slide-link-image {
  filter: drop-shadow(0 5px 10px #00000050);
  width: 40px;
}

/*---------------------------------------*/
/*------------- TRANSITIONS -------------*/
/*---------------------------------------*/

.originals-slide-button:hover::before {
  width: calc(100% + 2rem);
  border-width: 2px;
}

.originals-slide-button:hover .originals-slide-button-image {
  filter: invert(1);
}

.originals-slide-button:hover .originals-slide-button-text {
  color: #000;
}

.originals-slide-button:focus {
  translate: 0 5px;
}

/*--------------------------------------*/
/*------------- ANIMATIONS -------------*/
/*--------------------------------------*/

.originals-slide-fade-out {
  animation: OriginalsSlideFadeOut 250ms forwards;
}

@keyframes OriginalsSlideFadeOut {
  0% {
    translate: 0 0;
    opacity: 1;
  }

  100% {
    translate: 0 -20px;
    opacity: 0;
  }
}

.originals-slide-fade-in {
  animation: OriginalsSlideFadeIn 250ms forwards;
}

@keyframes OriginalsSlideFadeIn {
  0% {
    translate: 0 -20px;
    opacity: 0;
  }

  100% {
    translate: 0 0;
    opacity: 1;
  }
}

/*--------------------------------------------*/
/*---------------- END OF CSS ----------------*/
/*--------------------------------------------*/
