@import url("./comments/carousel.css");
@import url("./comments/controller.css");
@import url("./comments/container.css");

#comments {
  grid-template-columns: auto;
  justify-content: center;
  padding: 5rem 2.5rem;
  align-items: center;
  position: relative;
  display: grid;
}
