@import url("./details/carousel.css");
@import url("./details/controller.css");
@import url("./details/block.css");

#details {
  justify-content: center;
  grid-auto-flow: column;
  align-items: start;
  padding: 5rem 0;
  display: grid;
  gap: 2rem;
}
