@import url("./exclusive/carousel.css");
@import url("./exclusive/controller.css");
@import url("./exclusive/block.css");

#exclusive {
  grid-template-columns: repeat(3, auto);
  box-shadow: 0 0 20px #000000af;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: hidden;
  padding: 4rem 0;
  display: grid;
  gap: 2rem;
}

.exclusive-title {
  font-family: "Acquire Light", sans-serif;
  text-shadow: 5px 5px 10px #000000a0;
  grid-column: span 3;
  font-weight: 100;
  cursor: default;
  font-size: 5rem;
  color: #fff;
}

.exclusive-background {
  position: absolute;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}
