@import url("./games/carousel.css");
@import url("./games/controller.css");
@import url("./games/game.css");

#games {
  box-shadow: 0 0 20px #000000af;
  background-color: #00000050;
  grid-template-columns: auto;
  justify-content: center;
  padding: 2rem 2.5rem;
  align-items: center;
  position: relative;
  display: grid;
  gap: 2.5rem;
}

.game-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}
