<h4 class="footer-console-title">PlayStation</h4>

<div class="footer-console-links">
  <% for(let j = 0; j < 3; j++) { %>
  <a class="footer-console-link" href="/">
    <p class="footer-console-link-text">Consoles</p>
    <img class="footer-console-link-image" src="/home/footer/arrow.png" />
  </a>
  <% } %>
</div>
