<h4 class="footer-console-title"><%= console.title %></h4>

<div class="footer-console-links">
  <% console.links.forEach((link) => { %>
  <a class="footer-console-link" href="<%= link.URL %>">
    <p class="footer-console-link-text"><%= link.text %></p>
    <img class="footer-console-link-image" src="/home/footer/arrow.png" />
  </a>
  <% }) %>
</div>
