@import url("./combos/item.css");
@import url("./combos/controller.css");

#combos {
  padding: 2rem 4rem 6rem 4rem;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.25rem;
}

.combos-title {
  text-shadow: 0 2.5px 6.5px #00000065;
  font-family: "Abel", sans-serif;
  font-size: 6.5rem;
  font-weight: 600;
  cursor: default;
}

.combos-title span {
  background: linear-gradient(45deg, #ff0033 0%, #002aff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: none;
}

.combos-list {
  grid-template-columns: auto;
  justify-content: center;
  align-items: stretch;
  gap: 1rem 2rem;
  display: grid;
}
