<% products.forEach((product) => { %>
<form class="combos-slide" action="/shop/item/add" method="post">
  <input type="hidden" name="ID" value="<%= product.ID %>" />

  <div class="combos-slide-images">
    <% product.images.forEach((image) => { %>
    <img class="combos-slide-image" src="<%= image %>" />
    <% }) %>
  </div>

  <div class="combos-slide-information">
    <div class="combos-slide-colors">
      <% product.colors.forEach((color) => { %>
      <h4 class="combos-slide-color"><%= color %></h4>
      <% }) %>
    </div>

    <div class="combos-slide-details">
      <div class="combos-slide-sponsor">Sony X CyberVerse</div>
      <div class="combos-slide-price"><%= product.price %></div>
    </div>

    <div class="combos-slide-buttons">
      <button class="combos-slide-button" type="submit" name="add" value="CART">
        <img
          class="combos-slide-button-image"
          src="/buttons/shop/cart-add.png"
        />

        <p class="combos-slide-button-text">Add To Cart</p>
      </button>

      <button class="combos-slide-button" type="submit" name="add" value="WISH">
        <img class="combos-slide-button-image" src="/buttons/shop/wish.png" />
        <p class="combos-slide-button-text">Wishlist</p>
      </button>
    </div>
  </div>
</form>
<% }) %>
