<div class="combos-carousel-controller">
  <img
    class="combos-carousel-button"
    src="/buttons/basic/arrow-circle-up.png"
  />

  <div class="combos-carousel-indicators">
    <% for(let i = 0; i < total; i++) { %>
    <div class="combos-carousel-indicator"></div>
    <% } %>
  </div>

  <img
    class="combos-carousel-button"
    src="/buttons/basic/arrow-circle-down.png"
  />
</div>
