/*---------------------------------------------------*/
/*------------------- ITEM STYLES -------------------*/
/*---------------------------------------------------*/

.skins-item {
  padding: 0 1.25rem 1.25rem 1.25rem;
  grid-template-columns: auto;
  justify-content: center;
  border-radius: 2.5px;
  align-items: center;
  position: relative;
  display: grid;
  gap: 0.65rem;
}

.skins-item::before {
  background-image: linear-gradient(45deg, #000000 20%, #000050 80%);
  box-shadow: 0 0 10px #000000af;
  border-radius: 10px;
  position: absolute;
  height: 70%;
  content: "";
  width: 100%;
  z-index: -1;
  bottom: 0;
}

/*-------------------------------------*/
/*----------- HEADER STYLES -----------*/
/*-------------------------------------*/

.skins-item-header {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.skins-item-image {
  width: 225px;
}

.skins-item-color {
  font-family: "Abel", sans-serif;
  letter-spacing: 1.25px;
  color: #ffffff65;
  font-weight: 600;
  font-size: 2rem;
  cursor: default;
}

/*----------------------------------------*/
/*------------ DETAILS STYLES ------------*/
/*----------------------------------------*/

.skins-item-details {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
}

.skins-item-detail {
  font-family: "Abel", sans-serif;
  font-size: 1.4rem;
  cursor: default;
  color: #fff;
}

/*--------------------------------------------*/
/*---------------- END OF CSS ----------------*/
/*--------------------------------------------*/
