<img class="feature-console-image" src="<%= console.image %>" />

<a class="feature-link" href="<%= console.URL %>">
  <img class="feature-link-image" src="/buttons/shop/bag.png" />
  <p class="feature-link-text">Explore Collection</p>
</a>
