<a class="games-link" href="/">
  <img class="games-link-image" src="/buttons/shop/bag.png" />
  <p class="games-link-text">Explore More Games</p>
</a>

<div class="games-controller-buttons">
  <img class="games-controller-button" src="/buttons/logos/playstation.png" />
  <img class="games-controller-button" src="/buttons/logos/xbox.png" />
  <img class="games-controller-button" src="/buttons/logos/switch.png" />
</div>
