<a class="games-link" href="/shop/games">
  <img class="games-link-image" src="/buttons/shop/bag.png" />
  <p class="games-link-text">Explore More Games</p>
</a>

<div class="games-controller-buttons">
  <% for(let i = 0; i < total; i++) { %>
  <div class="games-controller-button"></div>
  <% } %>
</div>
