/*------------------------------------------------*/
/*---------------- DETAILS STYLES ----------------*/
/*------------------------------------------------*/

.register-details {
  grid-template-rows: repeat(2, auto);
  box-shadow: 0 0 10px #000;
  background-color: #000;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  display: grid;
}

.register-details-background {
  transition: opacity 1000ms;
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  top: 0;
}

.register-details-background:nth-of-type(1) {
  z-index: -1;
}

.register-details-background:nth-of-type(2) {
  z-index: -2;
}

.register-details-background:nth-of-type(3) {
  z-index: -3;
}

/*---------------------------------------*/
/*------------- LINK STYLES -------------*/
/*---------------------------------------*/

.details-links {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: start;
  padding: 2rem;
  display: grid;
}

.details-socials-links {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.details-social-link {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
}

.details-social-link-image {
  transition: opacity 350ms, translate 125ms;
  opacity: 0.25;
  width: 25px;
}

.details-member-link {
  transition: background-color 350ms, translate 150ms;
  grid-template-columns: auto;
  border: 2px solid #fff;
  justify-content: center;
  padding: 0.25rem 2.5rem;
  border-radius: 40px;
  align-items: center;
  display: grid;
}

.details-member-link-text {
  font-family: "Poppins", sans-serif;
  transition: color 350ms;
  letter-spacing: 0.5px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

/*----------------------------------------*/
/*---------- INFORMATION STYLES ----------*/
/*----------------------------------------*/

.details-information {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: end;
  padding: 2rem;
  display: grid;
}

.details-information-text {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.65px;
  font-size: 1.25rem;
  position: relative;
  width: fit-content;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

.details-information-quote {
  position: absolute;
  width: 30px;
}

.details-information-quote:nth-of-type(1) {
  top: -30px;
  left: 0;
}

.details-information-quote:nth-of-type(2) {
  bottom: -30px;
  right: 0;
}

/*-----------------------------------------*/
/*----------- CONTROLLER STYLES -----------*/
/*-----------------------------------------*/

.details-controller-container {
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: end;
  display: grid;
}

.details-controller-buttons {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.details-controller-button {
  transition: opacity 350ms, translate 150ms;
  cursor: pointer;
  opacity: 0.35;
  width: 35px;
}

/*--------------------------------------------*/
/*------------- INDICATOR STYLES -------------*/
/*--------------------------------------------*/

.details-controller-indicators {
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  display: grid;
  gap: 1rem;
}

.details-controller-indicator {
  transition: opacity 450ms;
  background-color: #fff;
  border-radius: 40px;
  cursor: pointer;
  opacity: 0.25;
  height: 4px;
  width: 60px;
}

.details-controller-indicator:nth-of-type(1) {
  opacity: 1;
}

/*-----------------------------------------*/
/*-------------- TRANSITIONS --------------*/
/*-----------------------------------------*/

.details-social-link:hover .details-social-link-image {
  opacity: 1;
}

.details-social-link:focus .details-social-link-image {
  translate: 0 -10px;
}

.details-member-link:hover {
  background-color: #fff;
}

.details-member-link:hover .details-member-link-text {
  color: #000;
}

.details-member-link:focus {
  translate: 0 5px;
}

.details-controller-button:nth-of-type(1):hover {
  translate: -5px 0;
  opacity: 1;
}

.details-controller-button:nth-of-type(2):hover {
  translate: 5px 0;
  opacity: 1;
}

/*----------------------------------------*/
/*-------------- END OF CSS --------------*/
/*----------------------------------------*/
