/*------------------------------------------------*/
/*---------------- DETAILS STYLES ----------------*/
/*------------------------------------------------*/

.register-details {
  box-shadow: 0 0 10px #000;
  grid-template-columns: auto;
  background-color: #000;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  display: grid;
  height: 650px;
  width: 500px;
}

.register-details-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}

/*----------------------------------------*/
/*-------------- END OF CSS --------------*/
/*----------------------------------------*/
