/*-------------------------------------------*/
/*--------------- FORM STYLES ---------------*/
/*-------------------------------------------*/

.register-form {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  display: grid;
  width: 500px;
  gap: 2rem;
}

/*-----------------------------------------*/
/*------------- HEADER STYLES -------------*/
/*-----------------------------------------*/

.register-form-header {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
}

.register-form-title {
  font-family: "Abel", sans-serif;
  text-align: center;
  font-size: 6.5rem;
  cursor: default;
  color: #000;
}

.register-form-description {
  font-family: "Abel", sans-serif;
  letter-spacing: 0.25px;
  margin-top: -0.65rem;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 900;
  cursor: default;
  color: #000;
}

/*------------------------------------------*/
/*-------------- INPUT STYLES --------------*/
/*------------------------------------------*/

.register-form-inputs {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  position: relative;
  display: grid;
  gap: 1rem;
}

.register-form-input-container {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  padding: 0 2.5rem;
  display: grid;
}

.register-form-input {
  padding: 0.5rem 0.5rem 0.5rem 2.65rem;
  font-family: "Poppins", sans-serif;
  border: 2px solid #000;
  letter-spacing: 0.65px;
  border-radius: 2.5px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: default;
}

.register-form-input::placeholder {
  transition: opacity 250ms;
  color: #000;
}

.register-form-input-image {
  position: absolute;
  left: 3.4rem;
  width: 20px;
}

/*-------------------------------------------*/
/*-------------- BUTTON STYLES --------------*/
/*-------------------------------------------*/

.register-form-buttons {
  grid-template-columns: auto;
  justify-content: stretch;
  align-items: center;
  padding: 0 2.5rem;
  display: grid;
  gap: 0.65rem;
}

.register-form-button {
  border-radius: 40px;
  border: transparent;
  padding: 0.4rem 0;
  cursor: pointer;
}

.register-form-button.create {
  border: 2px solid #000;
  background-color: #000;
}

.register-form-button.switch {
  border: 2px solid #000;
}

.register-form-button-text {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.65px;
  border-radius: 2.5px;
  font-size: 1rem;
  color: #fff;
}

.register-form-button.create .register-form-button-text {
  font-weight: 400;
  color: #fff;
}

.register-form-button.switch .register-form-button-text {
  font-weight: 500;
  color: #000;
}

/*---------------------------------------*/
/*------------- TRANSITIONS -------------*/
/*---------------------------------------*/

.register-form-input:hover::placeholder {
  opacity: 0;
}

/*------------------------------------------*/
/*--------------- END OF CSS ---------------*/
/*------------------------------------------*/
