<div class="details-links">
  <a href="" class="details-link">
    <p class="details-link-text">Login</p>
  </a>
</div>

<div class="details-information">
  <div class="details-information-text">
    Explore Every Galaxy In The CyberVerse,<br />
    Where The Heart Lies, A Gamers Paradise

    <img class="details-information-quote" src="/register/open-quote.png" />
    <img class="details-information-quote" src="/register/close-quote.png" />
  </div>

  <div class="details-controller-container">
    <div class="details-controller-indicators">
      <% for(let i = 0; i < 3; i++) { %>
      <div class="details-controller-indicator"></div>
      <% } %>
    </div>

    <div class="details-controller-buttons">
      <img
        class="details-controller-button"
        src="/buttons/basic/arrow-head-left.png"
      />

      <img
        class="details-controller-button"
        src="/buttons/basic/arrow-head-right.png"
      />
    </div>
  </div>
</div>

<img class="register-details-background" src="/register/background-1.jpg" />
