<% for(let i = 0; i < 2; i++) { %>
<form class="register-form" action="/register" method="post">
  <% if(i === 0) { %>
  <input type="hidden" name="type" value="LOGIN" />
  <% } else { %>
  <input type="hidden" name="type" value="CREATE" />
  <% } %>

  <div class="register-form-header">
    <h2 class="register-form-title">CyberVerse</h2>

    <% if(i === 0) { %>
    <p class="register-form-description">Login To Your Account</p>
    <% } else { %>
    <p class="register-form-description">Create Your Account</p>
    <% } %>
  </div>

  <hr class="register-form-divider" />

  <div class="register-form-inputs">
    <div class="register-form-input-container">
      <input
        class="register-form-input"
        placeholder="Email"
        autocomplete="off"
        name="email"
        type="email"
        required
      />

      <img class="register-form-input-image" src="/register/email.png" />
    </div>

    <% if(i === 1) { %>
    <div class="register-form-input-container">
      <input
        class="register-form-input"
        placeholder="Username"
        autocomplete="off"
        name="username"
        type="text"
        required
      />

      <img class="register-form-input-image" src="/register/username.png" />
    </div>
    <% } %>

    <div class="register-form-input-container">
      <input
        class="register-form-input"
        placeholder="Password"
        autocomplete="off"
        name="password"
        type="password"
        required
      />

      <img class="register-form-input-image" src="/register/password.png" />
    </div>
  </div>

  <hr class="register-form-divider" />

  <div class="register-form-buttons">
    <button class="register-form-button" type="submit">
      <p class="register-form-button-text">
        <%= i === 0 ? "Login Account" : "Create Account" %>
      </p>
    </button>

    <button class="register-switch-button" type="button">
      <p class="register-switch-button-text">
        <%= i === 0 ? "Create Instead?" : "Login Instead?" %>
      </p>
    </button>
  </div>
</form>
<% } %>
