<div class="register-form-inputs">
  <div class="register-form-input-container">
    <input class="register-form-input" type="text" placeholder="Email" />
  </div>

  <div class="register-form-input-container">
    <input class="register-form-input" type="text" placeholder="Username" />
  </div>

  <div class="register-form-input-container">
    <input class="register-form-input" type="text" placeholder="Password" />
  </div>
</div>
