<div class="register-form-header">
  <h2 class="register-form-title">Hi Gamer!</h2>

  <p class="register-form-description">
    Welcome to CyberVerse. Your Gaming Paradise.
  </p>
</div>

<div class="register-form-inputs">
  <div class="register-form-input-container">
    <input
      class="register-form-input"
      placeholder="Email"
      autocomplete="off"
      type="email"
    />

    <img class="register-form-input-image" src="/register/email.png" />
  </div>

  <div class="register-form-input-container">
    <input
      class="register-form-input"
      placeholder="Username"
      autocomplete="off"
      type="text"
    />

    <img class="register-form-input-image" src="/register/username.png" />
  </div>

  <div class="register-form-input-container">
    <input
      class="register-form-input"
      placeholder="Password"
      autocomplete="off"
      type="password"
    />

    <img class="register-form-input-image" src="/register/password.png" />
  </div>
</div>

<div class="register-form-buttons">
  <button class="register-form-button create" type="submit">
    <p class="register-form-button-text">Create Account</p>
  </button>

  <button class="register-form-button switch" type="submit">
    <p class="register-form-button-text">Register Instead?</p>
  </button>
</div>
