<% for(let i = 0; i < 3; i++) { %>
<div class="comment-container">
  <img class="comment-profile" src="/home/comments/boy-<%= i + 1 %>.png" />

  <div class="comment-details">
    <h4 class="comment-name">Slide: <%= slide + 1 %> & Box: <%= i + 1 %></h4>

    <p class="comment-text">
      The unique and captivating layout instantly draws you in. The authenticity
      of the products and services offered is evident, giving me full confidence
      in my purchase. A delightful and trustworthy online shopping destination!
    </p>
  </div>

  <img class="comments-quote" src="/home/comments/quote.png" />
</div>
<% } %>
