<img
  class="combos-carousel-controller"
  src="/buttons/basic/arrow-circle-left.png"
/>

<div class="combos-carousel-indicators">
  <% for(let i = 0; i < length; i++) { %>
  <div class="combos-carousel-indicator"></div>
  <% } %>
</div>

<img
  class="combos-carousel-controller"
  src="/buttons/basic/arrow-circle-right.png"
/>
