<h2 class="billing-sponsor-title">CyberVerse</h2>

<div class="billing-sponsor-links">
  <a class="billing-sponsor-link" href="/">
    <img class="billing-sponsor-link-image" src="/buttons/shop/wish.png" />
    <p class="billing-sponsor-link-text">Visit Your Wishlist</p>
  </a>

  <a class="billing-sponsor-link" href="/">
    <img class="billing-sponsor-link-image" src="/buttons/shop/cart.png" />
    <p class="billing-sponsor-link-text">Continue Shopping</p>
  </a>
</div>
